/* Import the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;700&family=Ubuntu&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.dashboard-container {
  text-align: center;
  padding: 50px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

p {
  margin-bottom: 40px;
  color: #666;
}

button {
  padding: 10px 20px;
  background-color: #0B9DCA;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00B7BC;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .dashboard-container {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }
}
